*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#hero{
	height: 100vh; 
	width: 100%;
	background-image: url(img/ok1.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}
.content{
	width: 88%;
	margin: auto;
	position: relative;
	z-index: 2;

}

.content .logo{
	width: 150px;
	margin-top: 20px;
}
.content hr{
	border: none;
	height: 6px;
	max-width: 280px;
	margin-top: 8px;
	background: #21ff9e;
}
.content h1{
	font-size: 100px;
	font-weight: 100;
	color: #fff;
	letter-spacing: 2px;
	font-family: 'Rubik', sans-serif;
}
.sidebar{
	width: 30%;
	max-width: 550px;
	height: 100%;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.content .btn{
	padding: 8px 25px;
	text-decoration: none;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 20px;
	display: inline-block;
	margin-top: 40px;

}
.link .btn2{
	padding: 8px 25px;
	text-decoration: none;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 20px;
	display: inline-block;
	position: absolute;
	margin-left: 1100px;
	margin-top: 20px;

}
.link .btn3{
	padding: 8px 25px;
	text-decoration: none;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 20px;
	display: inline-block;
	position: absolute;
	margin-left: 1000px;
	margin-top: 20px;

}
.content p{
	max-width: 350px;
	color: #fff;
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 8px;
}
.slider{
	display: flex;
	align-items: center;
	position: absolute;
	right: 30px;
	bottom: 50px;

}
#prev, #next{
	width: 20px;
	cursor: pointer;
}
.preview{
	display: flex;
	align-items: center;
	margin: 0 60px;
}
.preview img{
	width: 60px;
	margin: 0 10px;
	opacity: 0.4;
}
.preview .active{
	display: block;
	border: 3px solid #fff;
	width: 100px;
	opacity: 1;
}